.header__lang {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 46px;
    margin-right: 48px;
    gap: 18px;
}


@media screen and (max-width: 768px) {
    .header__lang {
        margin-top: 46px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 320px) {
    .header__lang {
        margin-top: 30px;
        margin-right: 16px;
    }
}