.header__logo {
    max-width: 176px;
    max-height: 52px;
    margin: 28px 0 0 48px;

}

@media screen and (max-width: 768px) {
    .header__logo {
        margin: 28px 0 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        margin: 16px 0 0 16px;
        max-width: 142px;
        padding-top: 0;
        max-height: 42px;
    }
}