.header {

    align-items: center;
    margin: 0 auto;
    padding: 28px 48px 0;
    justify-content: space-between;
    display: flex;
}

@media screen and (max-width: 680px) {
    .header {
        padding: 16px 16px 0;

    }
}


@media screen and (max-width: 320px) {
    .header {
        margin: 16px 16px 0 16px;
    }
}


@media screen and (max-width: 1028px) {

    .header {
        padding: 28px 24px 0;

    }


}