.footer__copyright {
    margin: 0;
    line-height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}


@media screen and (max-width: 603px) {
    .footer__copyright {
        margin-left: 16px;
    }
}