.intro {
    margin-top: 114px;
    margin-left: 148px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 930px) {
    .intro {
        margin-top: 88px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 605px) {
    .intro {
        margin-top: 64px;
        margin-left: 15px;
    }
}