.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 48px 0;
    align-items: flex-end;
    padding: 92px 0 24px;

}

@media screen and (max-width: 928px) {
    .footer {
        margin-left: 24px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        align-items: flex-start;
        flex-direction: column;

    }
}

@media screen and (max-width: 603px) {
    .footer {
        margin-left: 16px;
        padding-top: 64px;
    }
}