.place__url-heading {
    margin: 0;
    font-style: normal;
    letter-spacing: 2px;
    color: #aaa;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;

}

@media screen and (max-width: 605px) {
    .card__web {
      margin-left: 16px;
    }
  }