.photo {
    margin: 92px 48px 0;
    padding: 0;
   

}

@media screen and (max-width: 768px) {
    .photo {
        margin-top: 88px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .photo {
        margin-top: 64px;
    }
}