.photo {
  margin: 92px 3.75% 0;
  padding: 0;
}

@media screen and (max-width: 930px) {
  .photo {
    margin-top: 88px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 352px) {
  .photo {
    margin-top: 64px;
  }
}